<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
		<section class="jumbotron text-center">			
				<img class="d-block mx-auto mb-4" th:src="@{/image/marca-horizontal.jpg}"
				width="400" height="200">
			<div class="container">
				<h1 class="jumbotron-heading">Coordenação de Assistência ao Estudante</h1>
				<p class="lead text-muted">Profissionais e Especialidades</p>
				</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container d-flex justify-content-center align-items-center">

				<div class="row">
					<div class="col-md-12">					
					
						<div th:replace="fragments/alert :: alerta-sucesso"></div>
												
						<form th:action="${agendamento.id == null} ? @{/agendamentos/salvar} : @{/agendamentos/editar}" th:object="${agendamento}"
							method="POST" class="was-validated"  sec:authorize="hasAuthority('PACIENTE')">
							
							<div class="form-row" th:if="${agendamento.id == null}">
								<div class="form-group col-md-12">
									<div class="card">
									  <div class="card-header"> 
									  	Especialidades Disponíveis									  
									  </div>
									  <div class="card-body"> 
									    <small class="form-text text-muted"  
										    th:each="especialidade : ${especialidades}" 
										  	th:text="${especialidade.titulo}">
										</small>									    
									  </div>
									</div>
								</div>
							</div>
							
							<div class="form-row">
								<div id="data2" class="form-group col-md-12">
									<small class="form-text text-muted">Especialidade referente à consulta.</small>
									<input type="text" class="form-control"
										id="especialidade" placeholder="Odontologia"
										th:field="*{especialidade.titulo}" required />
									<div class="invalid-feedback">
								      Especialidade é obrigatória.
								    </div>
								</div>
							</div>
	
							<div class="form-row" >
								<div class="form-group col-md-12">
									<div class="card">
									  <div class="card-header">
									    Indique o profissional desejado
									  </div>
									  <div class="card-body" id="profissionais">										  									    
											<!-- options by jQuery -->
									  </div>									  							  
									</div>
								</div>
							</div>							
							
							<div class="form-row">								
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Data da consulta</small>
									<input class="form-control datepicker" type="text" id="datapicker-custom"
										th:field="*{dataS}" required/>
									<div class="invalid-feedback">
								      Data é obrigatória.
								    </div>	
								</div>
							</div>							
														
							<div class="form-row">
								<div class="form-group col-md-12">
									<small id="hr-small" class="form-text text-muted">Horários disponíveis
										para a consulta</small>
									<select id="horarios" class="custom-select" size="5" 
									th:field="*{horarioS}" required>
									  	<!-- options by jQuery -->
									</select>
									<div class="invalid-feedback">Horário é obrigatório</div>
								</div>
							</div>
							<input type="hidden" th:field="*{id}"/>							
							<div class="form-group row">
								<div class="col-sm-10">
									<button id="btn-salvar" type="submit" class="btn btn-primary" 
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
								</div>
							</div>
						</form>
									
						
						<form th:action="@{/agendamentos/editar/agendamento/profissional}" th:object="${agendamento}"
							method="POST" class="was-validated"  sec:authorize="hasAuthority('PROFISSIONAL')">
							
							<div class="form-row">
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Especialidade referente à consulta.</small>
									<input type="text" class="form-control"
										id="especialidade" placeholder="Odontologia"
										th:field="*{especialidade.titulo}" readonly="readonly"/>
									<div class="invalid-feedback">
								      Especialidade é obrigatória.
								    </div>
								</div>
							</div>	
							
							<div class="form-row">
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Paciente</small>
									<input type="text" class="form-control"
										id="paciente"
										th:field="*{paciente.nome}" readonly="readonly" />
									</div>
							</div>
														
							<div class="form-row">								
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Data da consulta</small>
									<input class="form-control" type="date" id="data" 
										th:field="*{dataConsulta}" readonly="readonly"/>
									<div class="invalid-feedback">
								      Data é obrigatória.
								    </div>	
								</div>
							</div>
							
							
							<div class="form-row">
								<div class="form-group col-md-12">
									<small class="form-text text-muted">Horário</small>
									<input type="text" class="form-control"
										id="horario"
										th:field="*{horario.horaMinuto}" readonly="readonly" />
									</div>
							</div>
														  
						    <div class="custom-control custom-checkbox mb-3">
							  <input type="checkbox" class="custom-control-input"
							      id="comparecimento" th:field="*{comparecimento}" name="comparecimento"
							      th:checked="${agendamento.comparecimento}">
						      <label class="custom-control-label" for="comparecimento">Compareceu?</label>
							</div>
							
							<input type="hidden" th:field="*{id}"/>							
							<div class="form-group row">
								<div class="col-sm-10">
									<button id="btn-salvar" type="submit" class="btn btn-primary" 
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
								</div>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>

		</main>
		
	</section>
	<script	th:src="@{/js/agendamento.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	// buscar o profissional pela especialidade
	/*[# th:if="${agendamento.profissional != null}"]*/
		$( document ).ready(function() {
			var id = [[${agendamento.profissional.id}]];
			var titulo = [(${#strings.concat("'",agendamento.especialidade.titulo,"'")})];
			$.get( "/profissionais/especialidade/titulo/" + titulo, function( result ) {
				$.each(result, function (k, v) {
					$("#profissionais").append(
						 '<div class="custom-control custom-radio">'
						+  '<input class="custom-control-input" type="radio" id="customRadio'+ k +'" name="profissional.id" value="'+ v.id +'" required '+ (v.id == id ? "checked" : "")+' />'
						+  '<label class="custom-control-label" for="customRadio'+ k +'">'+ v.nome +'</label>'
						+'</div>'
					);
				});
			});
		});
	/*[/]*/	
	
	/*[# th:if="${agendamento.id != null}"]*/
	$( document ).ready(function() {	
		$("#especialidade").attr('readonly', 'readonly');
		
		var data = [[${agendamento.dataConsulta}]];
		data = data.split('-');
		$("#datapicker-custom").val(data[2]+'/'+data[1]+'/'+data[0]);
		
		$.get('/profissionais/horarios/data/disponivel/'+[[${agendamento.profissional.id}]], function( result ){
			Datas = result;
			Datas = Datas.split(',');
		});	
		
		$.get('/profissionais/horarios/hora/disponivel/'+[[${agendamento.dataConsulta}]]+'/'+[[${agendamento.profissional.id}]] , function( result ) {
	   		$.each(result, function (k, v) {
	   			$("#horarios").append( 
	   				'<option class="op" value="'+ v.id +'">'+ v.horaMinuto + '</option>'
	   			);	            			
	   	    });
	   	});
	});
	/*[/]*/
	
	
	var Datas = '';
	$("#profissionais").on('change', function(){
		$("#horarios").empty();
		$("#datapicker-custom").val("");
		var prof = $('input[name="profissional.id"]:checked').val();
		$.get('/profissionais/horarios/data/disponivel/'+prof, function( result ){
			Datas = result;
			Datas = Datas.split(',');
		});						
	});
	
	function selecionavel(datadopicker) {
	    var DataSecundaria = ('0' + datadopicker.getDate()).slice(-2) + "/" + ('0' + (datadopicker.getMonth() + 1)).slice(-2) + "/" + datadopicker.getFullYear();

		if ($.inArray(DataSecundaria , Datas) != -1) {
	        return [true, ""];
	    } else {
	        return [false, ""];
	    }
	 }
			
  	 $( "#datapicker-custom" ).datepicker({ 
  		showOn: "both",
  		autoclose: false,
  	    buttonImage: "/image/calendar.gif",
  	    buttonImageOnly: true,                  
        showOtherMonths: true,
        selectOtherMonths: true,
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        today: 'Hoje',
        clear: 'Limpar',
        close: 'Fechar',
        beforeShowDay : selecionavel
       
	});
  	 
	</script>
</body>
</html>